# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp
*.log

# Environments
.venv/
venv/
ENV/
.env
.env.*

# Editors/IDE
.vscode/
.idea/

# Build/Packaging
build/
dist/
*.egg-info/
.cache/

# Tests/Coverage
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/

# OS
.DS_Store
Thumbs.db

# Project data
data/


